.home-container {
    background: #24263B;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 670px;
  background-image: url("../../Assets/Home/bg.jpg"); */
}
/* body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
} */
